# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Evaluating arithmetic expressions
- Libraries for data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

| Data Science Tools |
| -------- |
| Jupyter Notebooks |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = round (minutes / 60, 2)
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.33 hours

## Author 
David Njoroge